:root{
    --cor-de-fundo:#D750ED;
    --cor-de-texto:#110F0F;
    --botao-ativo:rgba(58, 55, 94, 1);
    --botao-inativo:rgba(88, 74, 255, 0.5);
    --verde-limao:rgba(111, 255, 87, 1);
    --branco:rgba(255, 244, 244, 1);
    

}