@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#f5ccfc;
    --cor-de-texto:#110F0F;
    --botao-ativo:rgba(58, 55, 94, 1);
    --botao-inativo:rgba(88, 74, 255, 0.5);
    --verde-limao:rgba(111, 255, 87, 1);
    --branco:rgba(255, 244, 244, 1);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32%;
}